:root {
  font-size: 10px;
  --primary: #262b3c;
  --text: #dadce0;
  --letter: #ffffff;
  --letter-bg: #939b9f33;
  --group-bg: #dadce008;
  --success: #6aaa64;
  --almost: #ceb02c;
  --away: #939b9f;
  --away-kbd: #4c5255;
  --kbd: #565f7e;
}

/* reset config */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* default config */

.letter.success,
.kbd-btn.success {
  background-color: var(--success);
}

.letter.almost,
.kbd-btn.almost {
  background-color: var(--almost);
}

.kbd-btn.away {
  background-color: var(--away-kbd);
}

.spinner {
  width: 120px;
  height: 120px;
  object-fit: contain;
  transition: all 200ms ease-in-out;
}
.letter.away,
.kbd.away {
  background-color: var(--away);
}

body {
  font-family: "Roboto Flex", sans-serif;
  min-height: 100vh;
  background-color: var(--primary);
  padding: 20px 0px;
}

header {
  max-width: 440px;
  margin: 0px auto 0px;
  text-align: center;
  padding: 18px 0px;
  background-color: var(--group-bg);
  transition: all 200ms ease-in-out;
}

header > h1 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 0.07px;
  line-height: 1.175;
}

/* letterboard */
#letterboard {
  max-width: 440px;
  padding-inline: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}

.sentence {
  display: flex;
  justify-content: center;
  height: 76px;
  column-gap: 11px;
}

.letter {
  flex-basis: calc((100% - 44px) / 5);
  flex-grow: 1;
  height: 100%;
  border-radius: 5px;
  background-color: var(--letter-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.1714;
  color: var(--letter);
  text-transform: uppercase;
  transition: all 500ms ease-in-out;
}

/* kbd */
#kbd {
  max-width: 440px;
  margin-inline: auto;
  background-color: var(--group-bg);
  padding: 33px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

/* kbd-row */
.kbd-row {
  width: 100%;
  display: flex;
  column-gap: 5px;
  height: 50px;
}
.kbd-row:nth-child(2) {
  padding-inline: 10px;
}

/* kbd-btn */
.kbd-btn {
  flex-basis: calc((100% - 45px) / 9);
  padding: 0;
  border: none;
  text-align: center;
  height: 100%;
  border-radius: 5px;
  background-color: var(--kbd);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.1667;
  color: var(--text);
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 1px, rgba(0, 0, 0, 0.02) 0px 2px 2px,
    rgba(0, 0, 0, 0.02) 0px 4px 4px, rgba(0, 0, 0, 0.02) 0px 8px 8px,
    rgba(0, 0, 0, 0.02) 0px 16px 16px;
  transition: background-color 200ms ease-in;
  cursor: pointer;
}

.kbd-btn:not(:disabled):hover {
  background-color: #262b3b;
}
.large {
  padding-inline: 10px;
}

/* media queries */

@media (min-width: 350px) {
  .kbd-btn {
    font-size: 1.8rem;
  }
  .sentence {
    height: 76px;
  }
}

@media (min-width: 440px) {
  header {
    border-radius: 15px;
  }
  #kbd {
    border-radius: 15px;
    padding-inline: 25px;
  }
}

/* animations */

.puff-in-center {
  -webkit-animation: puff-in-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.shake-error {
  -webkit-animation: shake-error 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: shake-error 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-3 20:32:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-4 9:20:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes shake-error {
  0% {
    background-color: red;
  }
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  100% {
    background-color: var(--letter-bg);
  }
}
@keyframes shake-error {
  0% {
    background-color: red;
  }

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  100% {
    background-color: var(--letter-bg);
  }
}
